In [9]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns
sns.set_context("poster")
sns.set_style("whitegrid")

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [5]:
from sklearn.datasets import load_boston
boston = load_boston()
dir(boston)

['DESCR', 'data', 'feature_names', 'filename', 'target']

In [6]:
bos = pd.DataFrame(boston.data)
bos.columns = boston.feature_names
bos['PRICE'] = boston.target
bos.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.9,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.9,9.14,21.6

In [12]:
X = bos.drop('PRICE', axis= 1)
y = bos.PRICE

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X,y,test_size = 0.33, random_state = 5)

In [14]:
print("X_train",X_train.shape)
print("X_test",X_test.shape)
print("Y_train",Y_train.shape)
print("Y_test",Y_test.shape)

X_train (339, 13)
X_test (167, 13)
Y_train (339,)
Y_test (167,)

In [15]:
lm = LinearRegression()
dir(lm)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_decision_function',
 '_estimator_type',
 '_get_param_names',
 '_preprocess_data',
 '_set_intercept',
 'copy_X',
 'fit',
 'fit_intercept',
 'get_params',
 'n_jobs',
 'normalize',
 'predict',
 'score',
 'set_params']

In [16]:
lm.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [18]:
coeff_df = pd.DataFrame(lm.coef_, X.columns, columns=['Coefficient'])  
coeff_df

         Coefficient
CRIM       -0.156381
ZN          0.038549
INDUS      -0.025063
CHAS        0.786440
NOX       -12.946912
RM          4.002689
AGE        -0.011602
DIS        -1.368288
RAD         0.341757
TAX        -0.013515
PTRATIO    -0.988866
B           0.012059
LSTAT      -0.472644

In [19]:
y_pred = lm.predict(X_test)

In [20]:
actual_vs_prediction = pd.DataFrame({'Y_actuals': Y_test,'Y_predctions':y_pred})

In [21]:
actual_vs_prediction

     Y_actuals  Y_predctions
226       37.6     37.467236
292       27.9     31.391547
90        22.6     27.120196
373       13.8      6.468433
273       35.2     33.629667
417       10.4      5.670680
503       23.9     27.039467
234       29.0     29.927047
111       22.8     26.356613
472       23.2     22.452460
99        33.2     32.205044
339       19.0     21.786417
309       20.3     23.411384
304       36.1     33.608944
272       24.4     28.286195
346       17.2     15.138591
412       17.9      0.300873
151       19.6     18.718504
496       19.7     14.470671
410       15.0     11.108236
490        8.1      2.694942
132       23.0     19.216937
224       44.8     38.411593
318       23.1     24.369364
284       32.2     31.614934
444       10.8     11.422104
321       23.1     24.928622
116       21.2     23.311780
333       22.2     22.776408
351       24.1     20.650812
..         ...           ...
386       10.5      5.626367
62        22.2     24.000463
191       30.5     30.371189
312       19.4     23.011267
155       15.6     18.291045
18        20.2     16.194709
328       19.3     21.608467
198       34.6     34.716659
372       50.0     23.405061
0         24.0     30.137479
60        18.7     18.095173
108       19.8     22.168443
298       22.5     29.092256
138       13.3     13.361467
370       50.0     31.860890
445       11.8     11.600555
428       11.0     13.917615
481       23.7     26.523144
55        35.4     31.394812
488       15.2     10.629138
250       24.4     24.686992
3         33.4     28.956509
227       31.6     32.317583
450       13.4     15.871136
199       34.9     29.943357
48        14.4      9.718369
281       35.4     34.705200
42        25.3     25.704102
115       18.3     20.154309
26        16.6     15.394658

[167 rows x 2 columns]

In [30]:
lm.score(X,y)

0.7333350744540277

In [27]:
# Regression metrics
explained_variance=metrics.explained_variance_score(Y_test, y_pred)
mean_absolute_error=metrics.mean_absolute_error(Y_test, y_pred) 
mse=metrics.mean_squared_error(Y_test, y_pred) 
median_absolute_error=metrics.median_absolute_error(Y_test, y_pred)
r2=metrics.r2_score(Y_test, y_pred)

In [28]:
print('explained_variance: ', round(explained_variance,4))    
print('r2: ', round(r2,4))
print('MAE: ', round(mean_absolute_error,4))
print('MSE: ', round(mse,4))
print('RMSE: ', round(np.sqrt(mse),4))

explained_variance:  0.7005
r2:  0.6957
MAE:  3.455
MSE:  28.5305
RMSE:  5.3414